/* juicy orange */
.hljs-keyword,
.hljs-link,
.hljs-literal,
.hljs-section,
.hljs-selector-tag {
  color: #ffe275 !important;
}

.hljs-addition,
.hljs-attribute,
.hljs-bullet,
.hljs-name,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-variable {
  color: #f77738 !important;
}

.hljs-built_in {
  color: #91ffa0 !important;
}

.hljs-title {
  color: #ff8e4a !important;
}

.hljs-type {
  color: #adff8c !important;
}

.hljs-string {
  color: #fbdc92 !important;
}

.hljs-number {
  color: #ffea47 !important;
}

.function_ {
  color: #ffb300f0 !important;
}

.hljs-literal {
  color: #f57777 !important;
}
