:root {
  --code-background-color: #0d0d0dda;
  --input-border-color: hsla(0, 0%, 100%, 0.2);
  --option-font-color: rgb(143, 143, 143);
  --input-background-color: #191919;
  --option-name-top-position: -22px;
  --option-name-left-position: 0px;
  --option-name-font-size: 13px;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #b92b27; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1565c0,
    #b92b27
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1565c0,
    #b92b27
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-div {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.925);
  padding-top: 4rem;
  overflow: scroll;
}

.code-section-main {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.code-section-sub {
  padding: 20px 45px;
  border-radius: 8px;
}

code {
  background-color: var(--code-background-color) !important;
  min-width: 100px;
  min-height: 100px;
  text-align: left !important;
  word-wrap: break-word;
  border-radius: 8px;
  padding: 38px 23px 20px 23px !important;
  font-size: 1.1rem !important;
  border: 1px solid white !important;
  box-shadow: 1px 1px 17px #000000eb !important;
  border: 2px solid #6d6d6dbf !important;
}

pre {
  position: relative !important;
  padding: 0 !important;
  margin: 0 !important;
  top: 40px;
}

.green-circle,
.yellow-circle,
.red-circle {
  position: absolute;
  padding: 7px;
  border-radius: 50%;
  opacity: 0.8;
  box-shadow: 1px 1px 9px #000000eb;
}

.red-circle {
  background-color: rgb(247, 43, 43);
  top: 15px;
  left: 70px;
}

.green-circle {
  background-color: rgb(1, 177, 1);
  top: 15px;
  left: 20px;
}

.yellow-circle {
  background-color: rgb(228, 228, 67);
  top: 15px;
  left: 45px;
}

.input-section-main {
  width: 100%;
  margin-top: 2rem;
  position: relative;
}

.input-section {
  width: 100%;
  height: 47px;
  background: var(--input-background-color);
  padding: 5px 68px 5px 20px;
  font-size: 1.1rem;
  border-radius: 8px;
  color: white;
}

.input-section:focus {
  outline: none;
}

.btn {
  position: absolute;
  top: 3px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.send {
  width: 40px;
  height: 40px;
}

.option-section {
  width: 40%;
  background: var(--input-background-color);
  padding: 30px 20px 20px 20px;
  font-size: 1.1rem;
  border-radius: 8px;
  color: var(--option-font-color);
  border: 1px solid var(--input-border-color);
  margin: 2rem auto;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.theme {
  position: relative;
}

.theme::after {
  content: "Theme";
  color: var(--option-font-color);
  position: absolute;
  top: var(--option-name-top-position);
  font-size: var(--option-name-font-size);
  left: var(--option-name-left-position);
}

.theme-btn {
  padding: 4px 4px;
  width: 70px;
  background-color: transparent;
  border-radius: 8px;
  color: white;
  border: 1px solid var(--input-border-color);
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 6;
  cursor: pointer;
}

.theam-type {
  margin-right: 8px;
  padding: 8px;
  border-radius: 50%;
}

.arrow img {
  width: 15px;
}

.mode-bin,
.bac-btn {
  position: relative;
  padding: 3px 1px;
  width: 50px;
  height: 26px;
  background-color: transparent;
  border-radius: 8px;
  color: white;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1565c0;
  cursor: pointer;
}

.darkmode {
  position: relative;
  padding: 0px 5px;
}

.darkmode::after {
  content: "Dark Mode";
  color: var(--option-font-color);
  position: absolute;
  top: var(--option-name-top-position);
  font-size: var(--option-name-font-size);
  left: var(--option-name-left-position);
}

.mode-one,
.mode-two {
  position: absolute;
  padding: 10px;
  background-color: #d8d8d8;
  border-radius: 50%;
  left: 24px;
  top: 2px;
}

.background {
  position: relative;
  padding: 0px 8px;
}

.background::after {
  content: "Background";
  color: var(--option-font-color);
  position: absolute;
  top: var(--option-name-top-position);
  font-size: var(--option-name-font-size);
  left: var(--option-name-left-position);
}

.padding {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
}

.padding::after {
  content: "Padding";
  color: var(--option-font-color);
  position: absolute;
  top: -27px;
  font-size: var(--option-name-font-size);
  left: var(--option-name-left-position);
}

.pad-btn {
  background: transparent;
  padding: 1px;
  border: none;
  color: var(--option-font-color);
}

.exports-btn {
  border: 1px solid #0a8d0a;
  background-color: rgb(50 192 14 / 17%);
  color: #0bbb0b;
  padding: 6px 11px;
  border-radius: 2px;
  font-size: 15px;
}

.sea-blizz {
  background: #1cd8d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #93edc7,
    #1cd8d2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93edc7,
    #1cd8d2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.electric-violet {
  background: #4776e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8e54e9,
    #4776e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8e54e9,
    #4776e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.juicy-orange {
  background: #ff8008; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc837,
    #ff8008
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc837,
    #ff8008
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mojito {
  background: #1d976c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #93f9b9,
    #1d976c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93f9b9,
    #1d976c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cherry {
  background: #eb3349; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f45c43,
    #eb3349
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f45c43,
    #eb3349
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mango-pulp {
  background: #f09819; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #edde5d,
    #f09819
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #edde5d,
    #f09819
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sunrise {
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f09819,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f09819,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.aqua-marina {
  background: #1a2980; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #26d0ce,
    #1a2980
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #26d0ce,
    #1a2980
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bloody-marry {
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dd2476,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dd2476,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.soft-purple {
  background: #a770ef; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdb99b,
    #cf8bf3,
    #a770ef
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdb99b, #cf8bf3, #a770ef);
}

.theme-section {
  position: absolute;
  background-color: var(--input-background-color);
  border-radius: 8px;
  border: 1px solid var(--input-border-color);
  padding: 15px 10px;
  overflow: auto;
  top: -432px;
  left: -19px;
  display: none;
}

.theme-selection-btn {
  background-color: var(--input-background-color);
  display: flex;
  align-items: center;
  border: none;
  color: var(--option-font-color);
  cursor: pointer;
  width: 100%;
  padding: 10px;
  z-index: 5;
  border-radius: 8px;
  margin: 10px 0px;
}

.theme-type-div {
  padding: 8px;
  border-radius: 50%;
  margin-right: 8px;
}

.theme-selection-btn:hover {
  background-color: rgba(0, 0, 0, 0.692);
  color: rgba(226, 226, 226, 0.836);
}

.hljs {
  color: #e9e9e9 !important;
}

/* sea bizz */

/* .hljs-keyword,
.hljs-link,
.hljs-literal,
.hljs-section,
.hljs-selector-tag {
  color: #00f39c !important;
}

.hljs-addition,
.hljs-attribute,
.hljs-bullet,
.hljs-name,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-variable {
  color: #a0ff39 !important;
}

.hljs-built_in {
  color: #edf765 !important;
}

.hljs-title {
  color: #e5f13b !important;
}

.hljs-type {
  color: #bbff7f !important;
}

.hljs-string {
  color: #00ffea !important;
}

.hljs-number {
  color: #02c7e9 !important;
}

.function_ {
  color: #00cefff0 !important;
}

.hljs-literal {
    color: #a3fb80 !important;
}
*/

/* electric violate */

/* .hljs-keyword,
.hljs-link,
.hljs-literal,
.hljs-section,
.hljs-selector-tag {
  color: #fcc1ff !important;
}

.hljs-addition,
.hljs-attribute,
.hljs-bullet,
.hljs-name,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-variable {
  color: #ff3977 !important;
}

.hljs-built_in {
  color: #bb97ff !important;
}

.hljs-title {
  color: #df77ff !important;
}

.hljs-type {
  color: #a48cff !important;
}

.hljs-string {
  color: #ff84d2 !important;
}

.hljs-number {
  color: #ff4792 !important;
}

.function_ {
  color: #00cefff0 !important;
}

.hljs-literal {
  color: #f57777 !important;
} */

/* juicy orange */

/* .hljs-keyword,
.hljs-link,
.hljs-literal,
.hljs-section,
.hljs-selector-tag {
  color: #ffe275 !important;
}

.hljs-addition,
.hljs-attribute,
.hljs-bullet,
.hljs-name,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-variable {
  color: #f77738 !important;
}

.hljs-built_in {
  color: #91ffa0 !important;
}

.hljs-title {
  color: #ff8e4a !important;
}

.hljs-type {
  color: #adff8c !important;
}

.hljs-string {
  color: #fbdc92 !important;
}

.hljs-number {
  color: #ffea47 !important;
}

.function_ {
  color: #ffb300f0 !important;
}

.hljs-literal {
  color: #f57777 !important;
} */

/* mojito */
/* .hljs-keyword,
.hljs-link,
.hljs-literal,
.hljs-section,
.hljs-selector-tag {
  color: #b3ff8d !important;
}

.hljs-addition,
.hljs-attribute,
.hljs-bullet,
.hljs-name,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-variable {
  color: #38f5f7 !important;
}

.hljs-built_in {
  color: #62f791 !important;
}

.hljs-title {
  color: #4aff94 !important;
}

.hljs-type {
  color: #adff8c !important;
}

.hljs-string {
  color: #fff78e !important;
}

.hljs-number {
  color: #b6ff69 !important;
}

.function_ {
  color: #9ef1fff0 !important;
}

.hljs-literal {
  color: #f57777 !important;
} */

/* 
cherry */

/* .hljs-keyword,
.hljs-link,
.hljs-literal,
.hljs-section,
.hljs-selector-tag {
  color: #ff6060 !important;
}

.hljs-addition,
.hljs-attribute,
.hljs-bullet,
.hljs-name,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-variable {
  color: #fd8c39 !important;
}

.hljs-built_in {
  color: #ffd27e !important;
}

.hljs-title {
  color: #ff8058 !important;
}

.hljs-type {
  color: #f77b91 !important;
}

.hljs-string {
  color: #ff9797 !important;
}

.hljs-number {
  color: #ffa868 !important;
}

.function_ {
  color: #ff4d4d !important;
}

.hljs-literal {
  color: #f57777 !important;
} */

/* mango pulp */

/* .hljs-keyword,
.hljs-link,
.hljs-literal,
.hljs-section,
.hljs-selector-tag {
  color: #ffe275 !important;
}

.hljs-addition,
.hljs-attribute,
.hljs-bullet,
.hljs-name,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-variable {
  color: #53db66 !important;
}

.hljs-built_in {
  color: #92ffa1 !important;
}

.hljs-title {
  color: #ff8e4a !important;
}

.hljs-type {
  color: #adff8c !important;
}

.hljs-string {
  color: #ffef6f !important;
}

.hljs-number {
  color: #ffea47 !important;
}

.function_ {
  color: #ffcd57f0 !important;
}

.hljs-literal {
  color: #f57777 !important;
} */

/* sunrise */

/* .hljs-keyword,
.hljs-link,
.hljs-literal,
.hljs-section,
.hljs-selector-tag {
  color: #f77947 !important;
}

.hljs-addition,
.hljs-attribute,
.hljs-bullet,
.hljs-name,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-variable {
  color: #f94646 !important;
}

.hljs-built_in {
  color: #fffd92 !important;
}

.hljs-title {
  color: #ff8e4a !important;
}

.hljs-type {
  color: #fff28c !important;
}

.hljs-string {
  color: #ffca66 !important;
} */

/* .hljs-number {
  color: #ffea47 !important;
}

.function_ {
  color: #ffcd57f0 !important;
}

.hljs-literal {
  color: #ff5353 !important;
} */

/* aquamarina */
/* .hljs-keyword,
.hljs-link,
.hljs-literal,
.hljs-section,
.hljs-selector-tag {
  color: #65d3ed !important;
}

.hljs-addition,
.hljs-attribute,
.hljs-bullet,
.hljs-name,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-variable {
  color: #a37bff !important;
}

.hljs-built_in {
  color: #6e93ff !important;
}

.hljs-title {
  color: #b3fbff !important;
}

.hljs-type {
  color: #39cff3 !important;
}

.hljs-string {
  color: #00ffea !important;
}

.hljs-number {
  color: #02c7e9 !important;
}

.function_ {
  color: #00cefff0 !important;
}

.hljs-literal {
  color: #8d8afd !important;
} */

/* bloody marry */

/* .hljs-keyword,
.hljs-link,
.hljs-literal,
.hljs-section,
.hljs-selector-tag {
  color: #ff7474 !important;
}

.hljs-addition,
.hljs-attribute,
.hljs-bullet,
.hljs-name,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-variable {
  color: #fd8c39 !important;
}

.hljs-built_in {
  color: #f9a962 !important;
}

.hljs-title {
  color: #ff754a !important;
}

.hljs-type {
  color: #ff5977 !important;
}

.hljs-string {
  color: #ffa9a9 !important;
}

.hljs-number {
  color: #f5ab5b !important;
}

.function_ {
  color: #ff4d4d !important;
}

.hljs-literal {
  color: #f57777 !important;
} */

/* 
soft purple */

/* .hljs-keyword,
.hljs-link,
.hljs-literal,
.hljs-section,
.hljs-selector-tag {
  color: #db9ce5 !important;
}

.hljs-addition,
.hljs-attribute,
.hljs-bullet,
.hljs-name,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-variable {
  color: #b34bff !important;
}

.hljs-built_in {
  color: #fbc6b1 !important;
}

.hljs-title {
  color: #ffc0ad !important;
}

.hljs-type {
  color: #ff8fe6 !important;
}

.hljs-string {
  color: #cac6fb !important;
}

.hljs-number {
  color: #f5ab5b !important;
}

.function_ {
  color: #f3769d !important;
}

.hljs-literal {
  color: #ff6c6c !important;
} */
