:root {
  --code-background-color: #0d0d0dda;
  --input-border-color: hsla(0, 0%, 100%, 0.2);
  --option-font-color: rgb(143, 143, 143);
  --input-background-color: #191919;
  --option-name-top-position: -22px;
  --option-name-left-position: 0px;
  --option-name-font-size: 13px;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #b92b27; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1565c0,
    #b92b27
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1565c0,
    #b92b27
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-div {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.925);
  padding-top: 4rem;
  overflow: scroll;
}

.code-section-main {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.code-section-sub {
  background: #a770ef; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdb99b,
    #cf8bf3,
    #a770ef
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdb99b,
    #cf8bf3,
    #a770ef
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 20px 45px;
  border-radius: 8px;
}

code {
  background-color: var(--code-background-color) !important;
  min-width: 100px;
  min-height: 100px;
  text-align: left !important;
  word-wrap: break-word;
  border-radius: 8px;
  padding: 38px 23px 20px 23px !important;
  font-size: 1.1rem !important;
  border: 1px solid white !important;
  box-shadow: 1px 1px 17px #000000eb !important;
  border: 2px solid #6d6d6dbf !important;
}

pre {
  position: relative !important;
  padding: 0 !important;
  margin: 0 !important;
  top: 40px;
}

.green-circle,
.yellow-circle,
.red-circle {
  position: absolute;
  padding: 7px;
  border-radius: 50%;
  opacity: 0.8;
  box-shadow: 1px 1px 9px #000000eb;
}

.red-circle {
  background-color: rgb(247, 43, 43);
  top: 15px;
  left: 70px;
}

.green-circle {
  background-color: rgb(1, 177, 1);
  top: 15px;
  left: 20px;
}

.yellow-circle {
  background-color: rgb(228, 228, 67);
  top: 15px;
  left: 45px;
}

.input-section-main {
  width: 100%;
  margin-top: 2rem;
  position: relative;
}

.input-section {
  width: 100%;
  height: 47px;
  background: var(--input-background-color);
  padding: 5px 68px 5px 20px;
  font-size: 1.1rem;
  border-radius: 8px;
  color: white;
}

.input-section:focus {
  outline: none;
}

.btn {
  position: absolute;
  top: 3px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.send {
  width: 40px;
  height: 40px;
}

.option-section {
  width: 40%;
  background: var(--input-background-color);
  padding: 30px 20px 20px 20px;
  font-size: 1.1rem;
  border-radius: 8px;
  color: var(--option-font-color);
  border: 1px solid var(--input-border-color);
  margin: 2rem auto;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}

.theme {
  position: relative;
}

.theme::after {
  content: "Theme";
  color: var(--option-font-color);
  position: absolute;
  top: var(--option-name-top-position);
  font-size: var(--option-name-font-size);
  left: var(--option-name-left-position);
}

.theme-btn {
  padding: 4px 4px;
  width: 70px;
  background-color: transparent;
  border-radius: 8px;
  color: white;
  border: 1px solid var(--input-border-color);
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.theam-type {
  margin-right: 8px;
  padding: 8px;
  border-radius: 50%;
  background: #a770ef; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdb99b,
    #cf8bf3,
    #a770ef
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdb99b, #cf8bf3, #a770ef);
}

.arrow img {
  width: 15px;
}

.mode-bin,
.bac-btn {
  position: relative;
  padding: 3px 1px;
  width: 50px;
  height: 26px;
  background-color: transparent;
  border-radius: 8px;
  color: white;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1565c0;
  cursor: pointer;
}

.darkmode {
  position: relative;
  padding: 0px 5px;
}

.darkmode::after {
  content: "Dark Mode";
  color: var(--option-font-color);
  position: absolute;
  top: var(--option-name-top-position);
  font-size: var(--option-name-font-size);
  left: var(--option-name-left-position);
}

.mode-one,
.mode-two {
  position: absolute;
  padding: 10px;
  background-color: #d8d8d8;
  border-radius: 50%;
  left: 24px;
  top: 2px;
}

.background {
  position: relative;
  padding: 0px 8px;
}

.background::after {
  content: "Background";
  color: var(--option-font-color);
  position: absolute;
  top: var(--option-name-top-position);
  font-size: var(--option-name-font-size);
  left: var(--option-name-left-position);
}

.padding {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
}

.padding::after {
  content: "Padding";
  color: var(--option-font-color);
  position: absolute;
  top: -27px;
  font-size: var(--option-name-font-size);
  left: var(--option-name-left-position);
}

.pad-btn {
  background: transparent;
  padding: 1px;
  border: none;
  color: var(--option-font-color);
}

.exports-btn {
  border: 1px solid #0a8d0a;
  background-color: rgb(50 192 14 / 17%);
  color: #0bbb0b;
  padding: 6px 11px;
  border-radius: 2px;
  font-size: 15px;
}
