@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --code-background-color: #0d0d0dda;
  --input-border-color: hsla(0, 0%, 100%, 0.2);
  --option-font-color: rgb(143, 143, 143);
  --input-background-color: #191919;
  --option-name-top-position: -29px;
  --option-name-left-position: 0px;
  --option-name-font-size: 13px;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #780206; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #061161,
    #780206
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #061161,
    #780206
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.445);
}

.main-div {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.925);
  padding-top: 4rem;
  overflow: scroll;
  position: relative;
  padding-bottom: 10rem;
}

.main-div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-div {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.code-section-main {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.padding30 {
  padding: 0px 30px;
}

.padding40 {
  padding: 10px 40px;
}

.padding50 {
  padding: 20px 50px;
}

.padding60 {
  padding: 30px 60px;
}

code {
  background-color: var(--code-background-color) !important;
  min-width: 100px;
  min-height: 100px;
  text-align: left !important;
  word-wrap: break-word;
  border-radius: 8px;
  padding: 38px 19px 20px 19px !important;
  font-size: 1.1rem !important;
  border: 1px solid white !important;
  box-shadow: 1px 1px 17px #000000eb !important;
  border: 1px solid #6d6d6d61 !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}

pre {
  position: relative !important;
  padding: 0 !important;
  margin: 0 !important;
  top: 40px;
}

.green-circle,
.yellow-circle,
.red-circle {
  position: absolute;
  padding: 7px;
  border-radius: 50%;
  opacity: 0.9;
  box-shadow: 1px 1px 9px #000000eb;
}

.red-circle {
  background-color: rgb(241 52 52);
  top: 15px;
  left: 20px;
}

.green-circle {
  background-color: rgb(138 229 138);
  top: 15px;
  left: 70px;
}

.yellow-circle {
  background-color: rgb(255 255 107);
  top: 15px;
  left: 45px;
}

.input-section-main {
  width: 100%;
  margin-top: 2rem;
  position: relative;
}

.input-section {
  width: 100%;
  height: 47px;
  background: var(--input-background-color);
  padding: 5px 68px 5px 20px;
  font-size: 1.1rem;
  border-radius: 8px;
  color: white;
  box-shadow: 1px 1px 17px black;
}

.input-section:focus {
  outline: none;
}

.btn {
  position: absolute;
  top: 3px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.send {
  width: 40px;
  height: 40px;
}

.option-section-main {
  width: 40%;
  position: relative;
  margin: 2rem auto;
}

.option-section {
  width: 34%;
  position: fixed;
  left: 33%;
  bottom: 15%;
  background: var(--input-background-color);
  padding: 36px 20px 20px 20px;
  font-size: 1.1rem;
  border-radius: 8px;
  color: var(--option-font-color);
  border: 1px solid var(--input-border-color);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  align-items: center;
  box-shadow: 1px 1px 17px black;
}

.theme {
  position: relative;
}

.theme::after {
  content: "Theme";
  color: var(--option-font-color);
  position: absolute;
  top: var(--option-name-top-position);
  font-size: var(--option-name-font-size);
  left: var(--option-name-left-position);
}

.theme-btn {
  padding: 4px 4px;
  width: 70px;
  background-color: transparent;
  border-radius: 8px;
  color: white;
  border: 1px solid var(--input-border-color);
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 6;
  cursor: pointer;
}

.theam-type {
  margin-right: 8px;
  padding: 8px;
  border-radius: 50%;
}

.arrow img {
  width: 15px;
}

.mode-bin,
.bac-btn {
  position: relative;
  padding: 3px 1px;
  width: 50px;
  height: 26px;
  background-color: transparent;
  border-radius: 8px;
  color: white;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #c71c54;
  cursor: pointer;
}

.darkmode {
  position: relative;
  padding: 0px 10px;
}

.darkmode::after {
  content: "Dark Mode";
  color: var(--option-font-color);
  position: absolute;
  top: var(--option-name-top-position);
  font-size: var(--option-name-font-size);
  left: var(--option-name-left-position);
}

.mode-one,
.mode-two {
  position: absolute;
  padding: 10px;
  background-color: #d8d8d8;
  border-radius: 50%;
  left: 24px;
  top: 2px;
}

.background {
  position: relative;
  padding: 0px 8px;
}

.background::after {
  content: "Background";
  color: var(--option-font-color);
  position: absolute;
  top: var(--option-name-top-position);
  font-size: var(--option-name-font-size);
  left: var(--option-name-left-position);
}

.padding {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.padding::after {
  content: "Padding";
  color: var(--option-font-color);
  position: absolute;
  top: -27px;
  font-size: var(--option-name-font-size);
  left: var(--option-name-left-position);
}

.pad-btn {
  background: transparent;
  border: none;
  color: var(--option-font-color);
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
}

.exports-btn {
  border: 1px solid #0a8d0a;
  background-color: rgb(50 192 14 / 17%);
  color: #0bbb0b;
  padding: 6px 11px;
  border-radius: 2px;
  font-size: 15px;
  cursor: pointer;
}

.exports-btn:hover {
  border: 1px solid #05a805;
  background-color: rgba(32, 109, 12, 0.288);
  color: #08da08;
}

.btn-padding {
  background-color: #000000a1;
  padding: 7px;
  border-radius: 5px;
}

.sea-blizz {
  background: #1cd8d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #93edc7,
    #1cd8d2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93edc7,
    #1cd8d2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.electric-violet {
  background: #4776e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8e54e9,
    #4776e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8e54e9,
    #4776e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.juicy-orange {
  background: #ff8008; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc837,
    #ff8008
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc837,
    #ff8008
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mojito {
  background: #1d976c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #93f9b9,
    #1d976c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93f9b9,
    #1d976c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cherry {
  background: #eb3349; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f45c43,
    #eb3349
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f45c43,
    #eb3349
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mango-pulp {
  background: #f09819; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #edde5d,
    #f09819
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #edde5d,
    #f09819
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sunrise {
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f09819,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f09819,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.aqua-marina {
  background: #1a2980; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #26d0ce,
    #1a2980
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #26d0ce,
    #1a2980
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bloody-marry {
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dd2476,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dd2476,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.soft-purple {
  background: #a770ef; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdb99b,
    #cf8bf3,
    #a770ef
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdb99b, #cf8bf3, #a770ef);
}

#transparent {
  background: transparent !important;
}

.theme-section {
  position: absolute;
  background-color: var(--input-background-color);
  border-radius: 8px;
  border: 1px solid var(--input-border-color);
  padding: 15px 10px;
  overflow: auto;
  top: -478px;
  left: 6px;
  display: none;
}

.theme-selection-btn {
  background-color: var(--input-background-color);
  display: flex;
  align-items: center;
  border: none;
  color: var(--option-font-color);
  cursor: pointer;
  width: 100%;
  padding: 10px;
  z-index: 5;
  border-radius: 8px;
  margin: 10px 0px;
}

.theme-type-div {
  padding: 8px;
  border-radius: 50%;
  margin-right: 8px;
}

.theme-selection-btn:hover {
  background-color: rgba(0, 0, 0, 0.692);
  color: rgba(226, 226, 226, 0.836);
}

.hljs {
  color: #e9e9e9 !important;
}

@media (max-width: 1605px) {
  .option-section {
    width: 37%;
    left: 31.5%;
  }
}

@media (max-width: 1480px) {
  .option-section {
    width: 40%;
    left: 30%;
  }
}

@media (max-width: 1364px) {
  .option-section {
    width: 47%;
    left: 26.5%;
  }
}

@media (max-width: 1178px) {
  .option-section {
    width: 55%;
    left: 22.5%;
  }
}

@media (max-width: 1000px) {
  .option-section {
    width: 64%;
    left: 18%;
  }
}

@media (max-width: 858px) {
  .option-section {
    width: 75%;
    left: 12.5%;
  }
}

@media (max-width: 732px) {
  .option-section {
    width: 84%;
    left: 8%;
  }
}

@media (max-width: 684px) {
  .option-section {
    width: 98%;
    left: 1%;
  }

  .input-section-main {
    width: 51%;
    left: 2%;
  }
}

@media (max-width: 578px) {
  .input-section-main {
    width: 51%;
    left: 2%;
    margin-top: 4rem;
  }
  .option-section {
    position: static;
  }
}

@media (max-width: 450px) {
  .input-section-main {
    width: 54%;
    margin-top: 8rem;
  }
}

@media (max-width: 365px) {
  .input-section-main {
    width: 36%;
    left: 2%;
    margin-top: 4rem;
  }
}
