<div class="code-section-main">
  <div
    class="code-section-sub <%= theme %> padding<%= padding %>"
    id="<%= background %>"
  >
    <input class="hiddenCode" type="hidden" value="<%= code %>" />
    <pre><code class="code"></code>
         <div class="red-circle"></div>
          <div class="yellow-circle"></div>    
           <div class="green-circle"></div>
    </pre>
  </div>
  <div class="input-section-main">
    <form action="/" method="post">
      <textarea class="input-section" name="code" id=""></textarea>
      <button class="btn" type="submit">
        <img class="send" src="/images/send.png" alt="sent" />
      </button>
    </form>
  </div>
</div>
