<script src="/js/html2image.js"></script>
<script src="/js/index.js" type="module"></script>
    <script
      src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"
      async
    ></script>
    
  </body>
</html>