<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <meta name="robots" content="index,follow" />
    <meta name="keywords" content="Code Carbon,code share, share code,share code plartform, code share, Carbon share,Shuvra Chakrabarty, shuvra-matrix, shuvra matrix, ai chat bot,ai image generator,Chat Guru">
    <meta name="author" content="Code Carbon">
    <meta name="googlebot" content="index,follow" />
    <meta name="description" content="Code Carbon is a powerful and versatile web app that allows users to easily share their code in image format. With support for all types of programming languages, users can showcase their skills and share their work with friends, colleagues, and the wider programming community with ease. With Code Carbon, users have complete control over the look and feel of their code, with the ability to change the code theme and color dynamically. Whether you prefer a dark or light mode, or a transparent background for your images, Code Carbon makes it easy to customize your code to your preferences. Overall, Code Carbon is the perfect tool for programmers, developers, and anyone who wants to share their code with the world in a beautiful and professional way. With its intuitive interface and advanced features, Code Carbon is sure to become a go-to platform for coders everywhere!"/>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/dark.min.css"
    />
    <link rel="stylesheet" href="/css/<%= theme %>.css" />
    <link rel="stylesheet" href="/css/<%= displayMode %>.css" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <title>Code Carbon</title>
