<div class="theme-section">
  <div class="theme-one">
    <form action="/theme" method="post">
      <input type="hidden" name="theme" value="sea-blizz" />
      <button class="theme-selection-btn" type="submit">
        <div class="theme-type-div sea-blizz"></div>
        Sea Blizz
      </button>
    </form>
  </div>
  <div class="theme-two">
    <form action="/theme" method="post">
      <input type="hidden" name="theme" value="electric-violet" />
      <button class="theme-selection-btn" type="submit">
        <div class="theme-type-div electric-violet"></div>
        Electric Violate
      </button>
    </form>
  </div>
  <div class="theme-three">
    <form action="/theme" method="post">
      <input type="hidden" name="theme" value="juicy-orange" />
      <button class="theme-selection-btn" type="submit">
        <div class="theme-type-div juicy-orange"></div>
        Juicy Ornage
      </button>
    </form>
  </div>
  <div class="theme-four">
    <form action="/theme" method="post">
      <input type="hidden" name="theme" value="mojito" />
      <button class="theme-selection-btn" type="submit">
        <div class="theme-type-div mojito"></div>
        Mojito
      </button>
    </form>
  </div>
  <div class="theme-five">
    <form action="/theme" method="post">
      <input type="hidden" name="theme" value="cherry" />
      <button class="theme-selection-btn" type="submit">
        <div class="theme-type-div cherry"></div>
        Cherry
      </button>
    </form>
  </div>
  <div class="theme-six">
    <form action="/theme" method="post">
      <input type="hidden" name="theme" value="mango-pulp" />
      <button class="theme-selection-btn" type="submit">
        <div class="theme-type-div mango-pulp"></div>
        Mango Pulp
      </button>
    </form>
  </div>
  <div class="theme-seven">
    <form action="/theme" method="post">
      <input type="hidden" name="theme" value="sunrise" />
      <button class="theme-selection-btn" type="submit">
        <div class="theme-type-div sunrise"></div>
        Sunrise
      </button>
    </form>
  </div>
  <div class="theme-eight">
    <form action="/theme" method="post">
      <input type="hidden" name="theme" value="aqua-marina" />
      <button class="theme-selection-btn" type="submit">
        <div class="theme-type-div aqua-marina"></div>
        Aqua Marina
      </button>
    </form>
  </div>
  <div class="theme-Nine">
    <form action="/theme" method="post">
      <input type="hidden" name="theme" value="bloody-marry" />
      <button class="theme-selection-btn" type="submit">
        <div class="theme-type-div bloody-marry"></div>
        Bloody Marry
      </button>
    </form>
  </div>
  <div class="theme-ten">
    <form action="/theme" method="post">
      <input type="hidden" name="theme" value="soft-purple" />
      <button class="theme-selection-btn" type="submit">
        <div class="theme-type-div soft-purple"></div>
        Soft Purple
      </button>
    </form>
  </div>
</div>
