<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/dark.min.css"
    />
    <title>Code Carbon</title>
  </head>
  <body>
    <div class="main-div">
      <div class="code-section-main">
        <div class="code-section-sub">
          <input class="hiddenCode" type="hidden" value="<%= code %>" />
          <pre><code class="code"></code>
          <div class="green-circle"></div>
          <div class="yellow-circle"></div>
          <div class="red-circle"></div>
          </pre>
        </div>
        <div class="input-section-main">
          <form action="/" method="post">
            <textarea class="input-section" name="code" id=""></textarea>
            <button class="btn" type="submit">
              <img class="send" src="/images/send.png" alt="sent" />
            </button>
          </form>
        </div>
      </div>
      <div class="option-section">
        <div class="theme">
          <button class="theme-btn" type="button">
            <div class="theam-type"></div>
            <div class="arrow">
              <img
                src="/images/up.png"
                alt="external-up-arrows-those-icons-lineal-those-icons-6"
              />
            </div>
          </button>
        </div>
        <div class="darkmode">
          <button class="mode-bin" type="submit">
            <div class="mode-one"></div>
          </button>
        </div>
        <div class="background">
          <button class="bac-btn" type="submit">
            <div class="mode-two"></div>
          </button>
        </div>
        <div class="padding">
          <button class="pad-btn">16</button>
          <button class="pad-btn">32</button>
          <button class="pad-btn">64</button>
          <button class="pad-btn">128</button>
        </div>
        <div class="exports">
          <button class="exports-btn">Export</button>
        </div>
      </div>
    </div>
    <script src="/js/index.js"></script>
    <script
      src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"
      async
    ></script>
  </body>
</html>
