<!-- head section-->
<%- include("../include/head.ejs")  %>
<!-- head section close-->

  </head>
  <body>
    <div class="main-div">

        <!-- code section -->

        <%- include("../include/code-section.ejs")  %>

        <!-- code section close -->
        <!-- settings section -->
        
        <%- include("../include/option-section.ejs")  %>

        <!-- settings section -->
        <!-- footer section -->
        <%- include("../include/footer.ejs") %>
         <!-- footer section close -->
    </div>
    
