<!-- head section-->
<%- include("../include/head.ejs")  %>
<!-- head section close-->

  </head>
  <body>
    <div class="main-div">

        <!-- code section -->

        <%- include("../include/code-section.ejs")  %>

        <!-- code section close -->
        <!-- settings section -->
        <%- include("../include/option-section.ejs")  %>

        <!-- settings section -->
    </div>
    <script src="/js/index.js"></script>
    <script
      src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"
      async
    ></script>
  </body>
</html>
